.back{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.6)),
      url("../../assets/Background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .title_1{
    font-size: 3rem;
    font-weight: 700;
    color: #060000;
    text-align: center;
    margin-top: 10%;
    margin:  auto;
    padding: 40px 0;
  }