.cardContainer {
  perspective: 1000px; /* Add perspective for 3D effect */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  height: 400px; /* Set fixed height */
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d; /* Enable 3D transformations */
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.card.flipped {
  transform: rotateY(180deg); /* Rotate card on Y-axis */
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%; /* Ensure both sides match the card dimensions */
  backface-visibility: hidden; /* Hide the back when the front is visible */
  border-radius: 10px;
  overflow: hidden;
}

.cardFront {
  background: #ffffff;
  z-index: 2;
  transform: rotateY(0deg);
}

.cardBack {
  background: #f9f9f9;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imageContainer {
  width: 100%;
  height: 60%; /* Adjust image container height */
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.foodImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentWrapper {
  padding: 10px;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.more_details,
.readButton,
.willingToReadButton {
  display: inline-block;
  background-color: #ff9800;
  color: white;
  text-align: center;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.more_details:hover,
.readButton:hover,
.willingToReadButton:hover {
  background-color: #e68900;
}
