.navigationBar {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigationWrapper {
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 7px 61px;
  position: fixed;
  
}

.navigationLinks {
  display: flex;
  align-items: center;
  gap: 39px;
  color: #fff;
  font: 400 16px Microsoft Sans Serif;
}


.brandLogo {
  object-fit: contain;
  object-position: center;
  width: 200px;
  align-self: stretch;
  margin-left: 20%;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: transform 1s ease;
  
}
.brandLogo:hover {
  transform: scale(1.3);
}

.navLink {
  align-self: stretch;
  margin: auto 0;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 30px;
}

.navLink:hover {
    color: #ff9800;
}

.authContainer {
  display: flex;
  gap: 40px;
  margin: auto 0;
}

.loginLink {
  color: #fff;
  margin: auto 0;
  font: 400 16px Microsoft Sans Serif;
  text-decoration: none;
  transition: color 0.3s ease;
}
.loginLink:hover {
  color: #ff9800;
}

.signUpButton {
  justify-content: center;
  border-radius: 100px;
  background: var(--M3-white, #fff);
  display: flex;
  min-height: 40px;
  flex-direction: column;
  overflow: hidden;
  color: var(--Grays-Black, #000);
  letter-spacing: var(--Label-Large-Tracking, 0.1px);
  font: 500 var(--Label-Large-Size, 14px) / var(--Label-Large-Line-Height, 20px) var(--Label-Large-Font, Roboto);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}
.signUpButton:hover {
  transform: scale(1.2);
  background-color: #ff9800;
}

.buttonContent {
  align-self: stretch;
  width: 100%;
  gap: 8px;
  flex: 1;
  height: 100%;
  padding: 10px 24px;
}

@media (max-width: 991px) {
  .navigationWrapper {
    max-width: 100%;
    padding: 0 20px;
  }
  
  .navigationLinks {
    max-width: 100%;
  }
  
  .brandContainer {
    white-space: initial;
  }
  
  .buttonContent {
    padding: 0 20px;
  }
}